@import "tailwindcss";

@theme {
  /* Fondo principal */
  --color-fondo: #eae4cc;
  /* Texto y elementos oscuros */
  --color-negro: #1f1d1d;
  /* Naranja de acción */
  --color-primario: #fb5b2b;
  /* Verde de acento */
  --color-secundario: #2d4135;
}

/* Aplicación de colores base al sitio */
body {
  background-color: var(--color-fondo);
  color: var(--color-negro);
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
}